<h1>Listing news_links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Added by</th>
    <th>Added on</th>
    <th>Video link</th>
    <th>Image link</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_links.each do |news_link| %>
  <tr>
    <td><%= news_link.title %></td>
    <td><%= news_link.added_by %></td>
    <td><%= news_link.added_on %></td>
    <td><%= news_link.video_link %></td>
    <td><%= news_link.image_link %></td>
    <td><%= news_link.active %></td>
    <td><%= link_to 'Show', news_link %></td>
    <td><%= link_to 'Edit', edit_news_link_path(news_link) %></td>
    <td><%= link_to 'Destroy', news_link, :confirm => 'Do you want to delete, Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New', new_news_link_path %>
